* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}

h1 {
  font-size: 5em;
  color: rgb(160, 128, 133);
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-top: 1em;
  padding: 0 2em;
}

button {
  background: white;
  border: none;
  cursor: pointer;
  outline: none;
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  box-shadow: 0 0 15px 5px rgb(231, 231, 231);
}

/*############Input field##############*/

.input {
  display: flex;
  width: 100%;
  background: white;
  border-bottom: 1px solid rgb(221, 221, 221);
}

form {
  flex: 10;
}

input {
  outline: none;
  border: none;
  width: 100%;
  padding: 1em;
}

input:disabled {
  background: white;
}

.input div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*################TodoField##############*/

.todo {
  display: flex;
  width: 100%;
  background: white;
  position: relative;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.todo:hover .fa-times {
  visibility: visible;
}

.checkmark {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border: 1px solid;
  border-radius: 50%;
  opacity: 0.5;
}

.fa-check {
  color: green;
  padding: 5px;
}

.fa-times {
  position: absolute;
  right: 32px;
  top: 15px;
  cursor: pointer;
  color: rgb(151, 39, 39);
  visibility: hidden;
}

/*#################TodoActions##############*/

.todo-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.8rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.filter {
  text-decoration: none;
  color: black;
  padding: 0 0.5em;
  border: 1px solid transparent;
  border-radius: 5px;
}

.filters a:hover {
  border: 1px solid rgb(219, 182, 219);
}

.clear button {
  text-decoration: none;
}

.clear button:hover {
  text-decoration: underline;
}

.active {
  border: 1px solid rgb(219, 182, 219);
}

.display-none {
  display: none;
}

.hide {
  visibility: hidden;
}

.line {
  text-decoration: line-through;
  opacity: 0.5;
}

.fade {
  opacity: 0.3;
}
